body {
    font-family: Arial, sans-serif;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
}

form button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* 添加一个新的样式规则 */
.table-container {
    height: calc(100vh - 205px);
    /* 你可以根据需要调整这个值 */
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    /* Center text in cells */
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#file-name {
    display: inline-block;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #f2f2f2;
    border-radius: 4px;
}


/* index.css */
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 40px;
    color: #4CAF50;
    transform: translate(-50%, -50%);
}

#progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 3px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #ddd;
}

.progress-bar-fill {
    background-color: #4CAF50;
    width: 0%;
    height: 100%;
    display: block;
    border-radius: 20px;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4CAF50;
    font-size: 25px;
}
