<!doctype html>
<html lang="ch">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/templates/index.css" />
    <script src="/templates/index.js"></script>
</head>

<body>
<input type="hidden" id="directory" value={{parent_dir}}/>
<h1 >Directory listing for {{parent_dir}}</h1>

<hr> <!-- 分隔线 -->

<form method="POST" action="/upload" enctype="multipart/form-data">
    <label for="file-upload" class="custom-file-upload">
        选择文件
    </label>
    <input id="file-upload" type="file" name="files" multiple style="display: none;">
    <span id="file-name">请选择要上传的文件……</span> <!-- Element to display the file name -->
    <div style="display: inline-block;">
        <button type="submit">上传</button>
        <!-- Add a button that links to the home page -->
        <a href="/" style="margin-left: 10px;">
            <button  type="button">返回主页</button>
        </a>
    </div>
</form>

<hr> <!-- 分隔线 -->

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>文件名</th>
            <th>文件大小</th>
            <th>最后修改时间</th>
        </tr>
        </thead>
        <tbody>
        {% for dir in dirs %}
        <tr>
            <td>
                {% if dir.is_dir %}
                <a href="/?dir={{dir.path}}">{{dir.path}}</a>
                {% else %}
                <a>{{dir.path}}</a>
                {% endif %}
            </td>
            <td>
                {{dir.size}}
            </td>
            <td>
                {{dir.modified | date_format}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!-- Overlay -->
<div id="overlay">
    <h2>正在上传...</h2>
    <div id="progress-container">
        <div class="progress-bar">
            <div class="progress-bar-fill"></div>
        </div>
        <span id="progress-text">0%</span>
    </div>
</div>
</body>

</html>